
.main {
  display: inline-block;
  background-color: rgb(95, 0, 0);
  border-radius: 5px;
  border: 4px solid red;
  color: red;
  padding: 5px;
  margin: 5px;
  transition: 0.3s;
  justify-self: center;

  > div {
    font-family: Arial;
  }

  > hr {
    margin: 10px 0;
    width: 70%;
    height: 2px;
    background-color: red;
  }
}
