@use 'sass:color';
@import 'scss/env.scss';

body {
  @include pm();
  overflow-x: hidden;
  background-color: $theme-color-background;

  &::-webkit-scrollbar {
    background-color: $theme-color;
    padding: 2px;
    box-sizing: border-box;
    width: 14px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $theme-color;
    box-shadow: inset 0 0 3px $theme-color-secondary;
    border-radius: 5px;
  }
}

#root {
  @include flex($dir: column);
  min-height: 100vh;
}

header {
  @include flex($justify: space-evenly, $align: center, $wrap: wrap);
  padding: 10px;
  color: black;
  z-index: 1;
  text-shadow: 1px 1px 1px rgba(black, $theme-color-transparency);
  border-bottom: 1px solid black;

  button,
  a {
    box-shadow: none;
  }

  > * {
    margin: 5px;
    flex-grow: 1;
  }

  > a {
    width: 200px;

    > img {
      height: 80px;
      filter: drop-shadow(0 0 0 black);
      transition: 0.3s;

      &:hover {
        filter: drop-shadow(0 0 2px $theme-color);
      }
    }
  }

  > div {
    @include flex($dir: column, $justify: space-evenly);

    p {
      text-align: center;
    }

    > div {
      @include flex($justify: center);

      > * {
        margin: 10px 20px;
      }

      > button,
      > a {
        background-color: transparent;
        padding: 0;

        > svg {
          color: $theme-color;
          filter: drop-shadow(0 0 1px $theme-color-primary);
          height: 40px !important;
          width: 40px !important;
        }
      }
    }
  }
}

main {
  @include flex($dir: column, $justify: center, $align: stretch);
  flex-grow: 1;

  > div:last-child {
    @include flex($dir: column, $align: stretch);
    padding: 0 2%;
    box-sizing: border-box;
    flex-grow: 1;
  }
}

footer {
  @include flex($dir: column, $align: center);
  background-color: black;
  > div {
    color: white;
    font-size: 1.8em;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    @include flex($justify: space-evenly, $wrap: wrap);
    text-shadow: 0 0 3px rgba(black, $theme-color-transparency);

    > div {
      @include flex($justify: center);
      flex: 1 1 0;
      > a {
        margin: 10px;
        color: $color-inverse;
        box-shadow: none;
      }
    }
  }
  > a {
    @include flex($align: flex-end);
    padding: 5px;
    box-shadow: none;
    width: fit-content;

    > * {
      margin: 0 10px;
    }

    > p {
      color: #003761;
      font-family: Arial;
      font-weight: 900;
      white-space: nowrap;
      text-shadow: 0 0 1px white;
    }

    > img {
      filter: drop-shadow(0 0 1px white);
      width: 150px;
    }
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a,
button {
  border-radius: $default-border-radius;
  transition: $default-transition-time;
  box-shadow: 0px 0px 4px 1px $theme-color-overlay;

  &:hover {
    filter: $theme-hover-filter;
  }
}

a {
  text-decoration: none;
  display: block;
}

button {
  border: none;
  @extend .button-default;
}

hr {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* {
  font-family: $font-primary;
}

h1 {
  font-size: 2.4em;
  font-family: $font-primary;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
}

h2 {
  font-size: $font-size-normal;
  font-family: $font-secondary;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 30px 0;
}

input {
  border: none;
  outline: none;
  background-color: $theme-color-overlay;
  padding: $small-padding;
  color: $color-inverse;
  transition: 0.3s;
  &:disabled {
    color: color.adjust($theme-color, $saturation: -50%);
    background-color: color.adjust($theme-color-overlay, $alpha: 0.1);
  }
}

form {
  @include flex($dir: column);
  @include pm($padding: 20px);
  background-color: $theme-color-primary;
  border-radius: 5px;
  color: $color-inverse;
  min-width: 300px;
  width: 60%;

  > h2 {
    text-align: center;
  }

  > div {
    @include flex($justify: space-between, $align: center);
    margin: $normal-margin;

    > * {
      font-size: $font-size-default;
    }
    > label {
      font-family: $font-secondary;
    }
    > *:last-child {
      &:not(select) {
        height: 30px;
      }
      width: 50%;
      border-radius: 5px;
      padding: $small-padding;
    }
  }
  > button {
    margin: 20px;
    align-self: flex-end;
  }
}

select {
  height: 40px;
}

hr {
  background-color: $theme-color-inside;
  border: none;
  margin: $normal-margin;
}

#toast-container {
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
