.form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  width: 30%;

  button[type='submit'] {
    margin: 5px;
  }
}

.section {
  display: flex;
  justify-content: space-between;
  margin: 5px;

  &Deep {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
  }
}

.silent {
  width: auto;
  min-width: auto;
}
